<footer class="footer viewport-observer">
  <div class="footer-upper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="footer-contacts">
            <div class="footer-contacts__title">
              Офис
            </div>
            <ul class="footer-contacts__list">
              <li class="footer-contacts__item">
                <a href="mailto:inbox@int-sys.ru" class="footer-contacts__link">
                  <span>inbox@int-sys.ru</span>
                </a>
              </li>
              <li class="footer-contacts__item">
                <a href="tel:+74732502001" class="footer-contacts__link">
                  <span>+7 (473) 250-20-01</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <div class="footer-contacts">
            <div class="footer-contacts__title">
              Техподдержка
            </div>
            <ul class="footer-contacts__list">
              <li class="footer-contacts__item">
                <a href="mailto:support@int-sys.ru" class="footer-contacts__link">
                  <span>support@int-sys.ru</span>
                </a>
              </li>
              <li class="footer-contacts__item">
                <a href="tel:+74732502002" class="footer-contacts__link">
                  <span>+7 (473) 250-20-02</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <ul class="footer-nav nav">
            <li class="nav-item active">
              <a class="nav-link">
                <span>Пользовательское соглашение</span>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <span>Политика обработки персональных данных</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md">
          <div class="copyright">© 2025 Интеллектуальные системы</div>
        </div>
        <div class="col-12 col-md-auto">
          <div class="developer">Сделано в <a href="#">Студии Парфёнова</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
