<header class="header">
  <div class="container">
    <div class="header-outer">
      <a href="/home-page.html" class="header-logo">
        <img src="/data/img/logo.png" alt="" />
      </a>
      <ul class="header-nav nav">
        <li class="nav-item active">
          <a class="nav-link">
            <span>Услуги</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span>О компании</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <span>Контакты</span>
          </a>
        </li>
      </ul>
      <div class="header-contacts">
        <ul class="header-contacts__list">
          <li class="header-contacts__item">
            <a href="tel:+74732502001" class="header-contacts__link">
              {% include "icons/phone.svg" %}
              <span>+7 (473) 250-20-01</span>
            </a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-outline" data-toggle="offcanvas">
        {% include "icons/bars.svg" %}
      </button>
    </div>
  </div>
</header>
