<div class="partner-card">
  <div class="partner-card__outer">
    <div class="partner-card__back">
      <div class="partner-card__logo">
        <img src="/data/img/brands/01.jpg" alt="" />
      </div>
    </div>
    <div class="partner-card__front">
      <div class="partner-card__head">
        <div class="partner-card__description">От госсектора и МФЦ до ритейла, ресторанов и культурных пространств — мы
          работаем с проектами любого масштаба и сложности</div>
      </div>
      <div class="partner-card__foot">
        <a href="#" class="partner-card__link">gossector.ru</a>
      </div>
    </div>
  </div>
</div>
