<section class="section">
  <div class="container">
    <h2 class="section-title">Клиенты</h2>
    <div class="clients-list row">
      <div class="col-4 col-md-2">
        {% include "cards/client-card.html" %}
      </div>
      <div class="col-4 col-md-2">
        {% include "cards/client-card.html" %}
      </div>
      <div class="col-4 col-md-2">
        {% include "cards/client-card.html" %}
      </div>
      <div class="col-4 col-md-2">
        {% include "cards/client-card.html" %}
      </div>
      <div class="col-4 col-md-2">
        {% include "cards/client-card.html" %}
      </div>
      <div class="col-4 col-md-2">
        {% include "cards/client-card.html" %}
      </div>
    </div>
  </div>
</section>
