<section class="section intro viewport-observer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-xl-6">
        <h2 class="section-title">Делаем сложные системы <span>простыми в эксплуатации</span></h2>
      </div>
      <div class="col-12 col-xl-6">
        <div class="text-content">
          <p>Наша компания создает законченные интеграционные инженерные решения.</p>
          <p>Мы работаем в различных областях: создаем системы видеоконференцсвязи, студии и конференц-залы,
            развертываем корпоративные системы телефонной связи и аудиокоференцсвязи, сети передачи данных, инженерное
            оснащение центров обработки данных, систем кондиционирования и вентиляции. </p>
          <p>Мы стараемся сделать каждую последующую систему лучше предыдущей, совершенствуя способы и возможности
            интеграции и используя новейшие продукты.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="features-list row">
          <div class="col-12 col-md-6 col-xl-3">
            {% include "cards/feature-card.html" %}
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            {% include "cards/feature-card.html" %}
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            {% include "cards/feature-card.html" %}
          </div>
          <div class="col-12 col-md-6 col-xl-3">
            {% include "cards/feature-card.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
