<section class="section">
  <div class="container">
    <h2 class="section-title">Партнеры</h2>
    <div class="partners-list row">
      <div class="col-12 col-md-4 col-xl-3">
        {% include "cards/partner-card.html" %}
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        {% include "cards/partner-card.html" %}
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        {% include "cards/partner-card.html" %}
      </div>
      <div class="col-12 col-md-4 col-xl-3">
        {% include "cards/partner-card.html" %}
      </div>
    </div>
  </div>
</section>
