<section class="section">
  <div class="container">
    <h2 class="section-title">Услуги</h2>
    <div class="services-slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          {% include "cards/service-card.html" %}
        </div>
        <div class="swiper-slide">
          {% include "cards/service-card.html" %}
        </div>
        <div class="swiper-slide">
          {% include "cards/service-card.html" %}
        </div>
        <div class="swiper-slide">
          {% include "cards/service-card.html" %}
        </div>
        <div class="swiper-slide">
          {% include "cards/service-card.html" %}
        </div>
        <div class="swiper-slide">
          {% include "cards/service-card.html" %}
        </div>
      </div>
      <div class="swiper-footer">
        <div class="swiper-scrollbar"></div>
        <div class="swiper-navigation">
          <button class="btn swiper-button-prev">
            {% include "icons/arrow-left.svg" %}
          </button>
          <button class="btn swiper-button-next">
            {% include "icons/arrow-right.svg" %}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
