<!DOCTYPE html>
<html lang="ru">

{% include "blocks/head.html" %}

<body>
  <div class="root">
    {% include "blocks/header.html" %}

    <div class="content">
      <section class="section">
        <div class="container">
          {% include "blocks/breadcrumb.html" %}
          <h1 class="section-title">Услуги</h1>
          <div class="services-list row">
            <div class="col-12 col-md-6 col-xl-4">
              {% include "cards/service-card.html" %}
            </div>
            <div class="col-12 col-md-6 col-xl-4">
              {% include "cards/service-card.html" %}
            </div>
            <div class="col-12 col-md-6 col-xl-4">
              {% include "cards/service-card.html" %}
            </div>
          </div>
        </div>
      </section>
    </div>

    {% include "blocks/footer.html" %}
  </div>

  {% include "blocks/offcanvas.html" %}
  {% include "blocks/script.html" %}

</body>

</html>
