.vacancies-list {
  row-gap: rem(40px);
}

.vacancy-card {
  height: 100%;

  &__outer {
    background-color: var(--neutral-200);
    border-radius: rem(16px);
    padding: rem(32px);
    display: flex;
    flex-direction: column;
    row-gap: rem(24px);
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 0;

    &::before {
      content: '';
      background-color: var(--brand-50);
      border-radius: 50% 50% 0 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      transform: translateY(101%);
      transition:
        transform 0.5s cubic-bezier(0.4, 0, 0, 1),
        border-radius 0.5s cubic-bezier(0.4, 0, 0, 1);
    }

    &:hover::before {
      border-radius: 0;
      transform: translateY(0);
      transition-duration: 0.5s, 0.9s;
    }
  }

  &__subtitle {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__text {
    color: var(--black);
  }

  &__link {
    @extend %link;
    color: var(--brand-500);
    transition: color 0.15s;

    &:hover {
      color: var(--brand-700);
    }
  }
}
